workflows/atendimento.json
{
  "id": "Qigjkssskl45xIm9",
  "name": "Atendimento",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4a00-8000-000000000006",
      "name": "Como funciona",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        -280
      ],
      "parameters": {
        "width": 1080,
        "height": 210,
        "color": 4,
        "content": "## Fluxo de Atendimento (TechShop) — RAG\n\nCliente escreve no **Telegram** → o **Atendente IA** (Gemini 2.5) interpreta, com **memória** por usuário. Quando a pergunta é sobre a loja, o agente chama a ferramenta **Buscar na base**, que consulta o **Qdrant** (embeddings Gemini) e devolve o trecho relevante. A resposta volta pelo Telegram.\n\nResponde só com base na base de conhecimento; se não acha, encaminha para um humano (guardrail)."
      }
    },
    {
      "id": "a1b2c3d4-0001-4a00-8000-000000000001",
      "name": "Recebe no Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "webhookId": "b7e64c2a-9d11-4f6a-8c33-1f2e3a4b5c6d",
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "Shc3tnrdfp4kwE0N",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-4a00-8000-000000000002",
      "name": "Atendente IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        580,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Recebe no Telegram').item.json.message.text }}",
        "options": {
          "systemMessage": "Você é o atendente virtual da TechShop, uma loja brasileira de eletrônicos e tecnologia.\nResponda SEMPRE em português do Brasil, de forma cordial, objetiva e prestativa.\n\nPara qualquer pergunta sobre a loja — produtos, preços, trocas, garantia, devoluções, entrega, frete, formas de pagamento, cupom, horários, contato e endereço — use SEMPRE a ferramenta \"buscar_base_techshop\" e baseie a resposta apenas nas informações retornadas pela base. Se a informação não estiver na base, não invente: diga que não tem essa informação no momento e que vai encaminhar para um atendente humano.\n\nUse o histórico da conversa para manter o contexto: lembre o nome do cliente e o que já foi conversado, e personalize o atendimento. Saudações, o nome do cliente e referências ao que ele disse antes fazem parte do atendimento — pode responder a isso normalmente, sem consultar a base.\n\nMantenha o foco na TechShop: para assuntos de conhecimento geral sem relação com a loja (notícias, clima, etc.), redirecione com educação para temas da loja."
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-4a00-8000-000000000003",
      "name": "Cérebro · Gemini 2.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        260
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "omaHPjuIpBTnwKHY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-4a00-8000-000000000004",
      "name": "Memória da conversa",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        580,
        260
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Recebe no Telegram').item.json.message.chat.id }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "a1b2c3d4-0001-4a00-8000-000000000009",
      "name": "Buscar na base",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        760,
        260
      ],
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "buscar_base_techshop",
        "toolDescription": "Busca informações na base de conhecimento da TechShop (produtos, preços, trocas, garantia, devoluções, entrega, frete, pagamento, cupom, horários, contato e endereço). Use sempre que o cliente perguntar algo sobre a loja.",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "techshop"
        },
        "topK": 4,
        "options": {}
      },
      "credentials": {
        "qdrantApi": {
          "id": "QdrantLocaL00001",
          "name": "Qdrant local"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-4a00-8000-000000000010",
      "name": "Embeddings busca",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        760,
        480
      ],
      "parameters": {
        "modelName": "models/gemini-embedding-001",
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "omaHPjuIpBTnwKHY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-4a00-8000-000000000005",
      "name": "Responde no Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        0
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Recebe no Telegram').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "Shc3tnrdfp4kwE0N",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Recebe no Telegram": {
      "main": [
        [
          {
            "node": "Atendente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atendente IA": {
      "main": [
        [
          {
            "node": "Responde no Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cérebro · Gemini 2.5": {
      "ai_languageModel": [
        [
          {
            "node": "Atendente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória da conversa": {
      "ai_memory": [
        [
          {
            "node": "Atendente IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na base": {
      "ai_tool": [
        [
          {
            "node": "Atendente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings busca": {
      "ai_embedding": [
        [
          {
            "node": "Buscar na base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  }
}
