workflows/ingestao.json
{
  "id": "IngestTechShop01",
  "name": "Ingestão da base",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "c1d2e3f4-0001-4a00-8000-000000000007",
      "name": "O que faz",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -220
      ],
      "parameters": {
        "width": 980,
        "height": 170,
        "color": 5,
        "content": "## Ingestão da base de conhecimento\n\nLê os `.md` da TechShop → extrai o texto → quebra em pedaços → gera *embeddings* (Gemini) → grava no **Qdrant** (coleção `techshop`).\n\nRode **uma vez** (ou quando a base mudar) clicando em **Test workflow**."
      }
    },
    {
      "id": "c1d2e3f4-0001-4a00-8000-000000000001",
      "name": "Disparar ingestão",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "parameters": {}
    },
    {
      "id": "c1d2e3f4-0001-4a00-8000-000000000002",
      "name": "Ler arquivos .md",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/node/knowledge-base/*.md",
        "options": {}
      }
    },
    {
      "id": "c1d2e3f4-0001-4a00-8000-000000000008",
      "name": "Extrair texto",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "data",
        "options": {}
      }
    },
    {
      "id": "c1d2e3f4-0001-4a00-8000-000000000003",
      "name": "Inserir no Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        920,
        0
      ],
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "techshop"
        },
        "options": {}
      },
      "credentials": {
        "qdrantApi": {
          "id": "QdrantLocaL00001",
          "name": "Qdrant local"
        }
      }
    },
    {
      "id": "c1d2e3f4-0001-4a00-8000-000000000004",
      "name": "Carregar documentos",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        860,
        240
      ],
      "parameters": {
        "dataType": "json",
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "textSplittingMode": "custom",
        "options": {}
      }
    },
    {
      "id": "c1d2e3f4-0001-4a00-8000-000000000005",
      "name": "Quebrar em pedaços",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        860,
        460
      ],
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 150,
        "options": {}
      }
    },
    {
      "id": "c1d2e3f4-0001-4a00-8000-000000000006",
      "name": "Embeddings Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1100,
        240
      ],
      "parameters": {
        "modelName": "models/gemini-embedding-001",
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "omaHPjuIpBTnwKHY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Disparar ingestão": {
      "main": [
        [
          {
            "node": "Ler arquivos .md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler arquivos .md": {
      "main": [
        [
          {
            "node": "Extrair texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair texto": {
      "main": [
        [
          {
            "node": "Inserir no Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebrar em pedaços": {
      "ai_textSplitter": [
        [
          {
            "node": "Carregar documentos",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Carregar documentos": {
      "ai_document": [
        [
          {
            "node": "Inserir no Qdrant",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Inserir no Qdrant",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  }
}
